{
  "extends": [
    "../../../.eslintrc",
    "plugin:react/recommended"
  ],

  "env": {
    "browser": true,
    "node": false
  },

  "plugins": [
    "react"
  ],

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "react/jsx-indent": [1, 2],
    "react/jsx-indent-props": [1, 2],
    "react/jsx-uses-react": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2
  }
}
